body {
	font: 17px Ariel, Sans-Serif;
	background-color: darkslategray;
}

.container {
	margin-top: 20px;
	margin-left: 160px;
	margin-right: 160px;

	padding: 30px 30px 30px 30px;

	background-color: darkslategray;

	text-align: left;
  color: rgb(255, 249, 249); 
 

  }

.title {
  border-bottom: double;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: left;
  font-family: Ariel; 
  padding: 0px 30px 30px 0px;
}  

h1 {
	font-size: 24px;
	margin-bottom: -6px;
}

h2 {
	font-size: 24px;
	margin-bottom: -5px;
  padding: 0px 0px 0px 0px;
}

h3 {
	font-size: 20px;
	margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
  
h4 {
	font-size: 18px;
	margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
