body {
	font: 16px Helvetica, Sans-Serif;
	background-color: PapayaWhip;
}

#container {
	width: 800px;
	margin: 40px auto 60px;
}

#title {
	boder-bottom: 5px solid black;
}


h3 {
	border-bottom: 1px solid #999;
}

h4{
	margin-top: 0px;
	margin-bottom: 0px;
}
